// Reset Styles

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'century-gothic', 'Questrial', sans-serif;
  color: #000;
}

table, td {
  border: 0;
  border-spacing: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

img {
  border:0 none;
  height:auto;
  line-height:100%;
  outline:none;
  text-decoration:none;
}

a img{
  border:0 none;
}

.imageFix{
  display:block;
}

#bodyTable{
  height:100% !important;
  margin:0;
  padding:0;
  width:100% !important;
}

// Custom CSS

#bodyTable {
  max-width: 970px;
  margin: 0 auto;
}

.header {
  td {
    padding-bottom: 23px;
  }
  p {
    font-size: 10px;
    font-weight: bold;
    span {
      font-size: 17px;
      font-weight: 400;
      padding-left: 40px;
    }
  }
}

.email__body {
  width: 100%;
  max-width: 760px;
  margin: 0 auto;;
  .banner-logo {
    .banner__color-fill {
      background-color: #0b4d87;
      width: 100%;
    }

  }
  .banner-img {
    td {
      padding-top: 80px;
    }
    img {
      width: 100%;
    }
  }
}

.email__content {
  width: 100%;
  max-width: 615px;
  margin: 0 auto;
  .ty {
    border-bottom: 2px solid #000;
    text-align: center;
    td {
      padding-top: 40px;
      padding-bottom: 28px;
      h2 {
        font-size: 21px;
        font-weight: 700;
      }
    }
  }
  .data {
    width: 100%;
    .data__block {
      width: 50%;
      vertical-align: top;
      padding-top: 30px;
      padding-left: 20px;
      padding-right: 20px;
      .title {
        font-weight: 700;
      }
    }
  }
  .promotions {
    text-align: center;
    td {
      padding-top: 30px;
    }
    p {
      font-size: 21px;
      margin-bottom: 6px;
      color: lighten(#000000, 25%);
      &.link {
        margin-top: 6px;
      }
      a {
        color: #000;
        text-decoration: none;
      }
    }
  }
  .phone {
    td {
      padding-top: 48px;
    }
    img {
      margin: 0 auto;
    }
  }
}

.footer {
  p {
    text-align: center;
    font-size: 21px;
    font-weight: 700;
    color: #d2d2d2;
    margin-bottom: 6px;
    margin-top: 6px;
    &.address {
      font-size: 16px;
    }
    &:first-of-type {
      margin-top: 40px;
    }
    &:last-of-type {
      margin-bottom: 80px;
    }
  }
}